html p,
html div,
html footer,
html main {
  margin-top: 0;
}

html h1 {
  margin: 0;
  color: #0D224D;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

body #frame-white {
  z-index: 1000;
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: 500ms;
  transition: 500ms;
  pointer-events: none;
}

body #body {
  border: 1px solid lightgrey;
  height: 600px;
  width: 300px;
  position: relative;
  font-family: "neue-haas-unica", sans-serif;
  font-size: 62.5%;
}

body #body .img-background {
  position: relative;
  z-index: -5;
}

body #body .img-background * {
  position: absolute;
}

body #body .img-background img:nth-child(1) {
  top: 54px;
  right: 35px;
}

body #body .img-background img:nth-child(2) {
  top: 180px;
  left: 47px;
}

body #body .img-background img:nth-child(3) {
  top: 281px;
  right: 161px;
}

body #body main {
  height: 600px;
}

body #body main {
  height: 600px;
}

body #body main .white-background {
  background-color: white;
  height: 600px;
  width: 300px;
  opacity: 0;
}

body #body main .main__question {
  font-size: 1.8em;
  text-align: center;
  position: absolute;
  top: 600px;
  font-weight: bold;
  color: #0D224D;
  opacity: 0;
}

body #body main .main__answer {
  position: absolute;
  width: 100%;
  opacity: 0;
}

body #body main .main__answer--one {
  top: 600px;
}

body #body main .main__answer--two {
  top: 140px;
}

body #body main .main__answer--three {
  top: 210px;
}

body #body main .main__answer--four {
  top: 280px;
}

body #body main .main__answer--five {
  top: 350px;
}

body #body main .main__answer-content {
  width: 90%;
  background-color: #0D224D;
  border-radius: 27px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #body main .main__answer-content p {
  margin-bottom: 0;
}

body #body main .main__answer-content p:nth-child(1) {
  font-size: 1.2em;
  color: #0D224D;
  background-color: white;
  font-size: 3em;
  font-weight: bold;
  border-radius: 100%;
  border: 1px solid #0D224D;
  width: 53px;
  height: 53px;
  text-align: center;
}

body #body main .main__answer-content p:nth-child(2) {
  font-size: 1.2em;
  color: white;
  text-align: center;
  -webkit-box-flex: 0.7;
      -ms-flex-positive: 0.7;
          flex-grow: 0.7;
}

body #body footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

body #body footer img {
  width: 142px;
}

body #body footer * {
  margin-bottom: 7px;
}

body #body footer p:nth-child(2) {
  color: #1AC9A8;
  font-size: 1.2em;
  font-weight: bold;
}

body #body footer p:nth-child(3) {
  font-weight: 300;
  background-color: rgba(7, 29, 73, 0.15);
  border-radius: 20px;
  display: inline-block;
  padding: 3px 17px;
  cursor: pointer;
}

body #body footer p:nth-child(4) {
  font-size: 0.7em;
  font-weight: 300;
  color: #707070;
}

body #body .last-screen__more {
  color: #0D224D;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 210px;
  width: 100%;
  opacity: 0;
}

body #body .last-screen__button {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 2.2em;
  font-weight: bold;
  text-decoration: none;
  background-color: #0D224D;
  width: 183px;
  height: 37px;
  left: 59px;
  border-radius: 27px;
  -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
  opacity: 0;
  z-index: 1;
}

body #body aside {
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

body #body aside .references {
  z-index: -2;
}

body #body aside .references__bcg {
  height: 600px;
  width: 300px;
  background-color: rgba(7, 29, 73, 0.95);
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

body #body aside .references__popup {
  width: 268px;
  height: 232px;
  background-color: #FFF;
  border-radius: 10px;
  position: absolute;
  top: 120px;
  left: 16px;
  color: #0D224D;
  opacity: 0;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

body #body aside .references__popup--close {
  height: 17px;
  width: 17px;
  background-color: #0D224D;
  border-radius: 100%;
  margin: 10px 10px 0 auto;
  color: white;
  text-align: center;
  cursor: pointer;
}

body #body aside .references__popup p:nth-child(2) {
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
}

body #body aside .references__popup p:nth-child(3) {
  font-size: 1.4em;
  margin: 40px 25px 0;
}
/*# sourceMappingURL=main.css.map */