//color
$green:#1AC9A8;
$grey: #707070;
$blue: #0D224D;

html {

    p,
    div,
    footer,
    main {
        margin-top: 0;
    }

    h1 {
        margin: 0;
        color: $blue;
    }
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    #frame-white {
        z-index: 1000;
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: 500ms;
        pointer-events: none;
    }

    #body {
        border: 1px solid lightgrey;
        height: 600px;
        width: 300px;
        position: relative;
        font-family: "neue-haas-unica", sans-serif;
        font-size: 62.5%;

        .img-background {
            position: relative;
            z-index: 1;

            & * {
                position: absolute;
            }

            img:nth-child(1) {
                top: 54px;
                right: 35px;
            }

            img:nth-child(2) {
                top: 180px;
                left: 47px;
            }

            img:nth-child(3) {
                top: 281px;
                right: 161px;
            }
        }


        main {

            height: 600px;

        }





        main {
            height: 600px;

            .white-background {
                background-color: white;
                height: 600px;
                width: 300px;
                opacity: 0;
            }

            .main {
                &__question {
                    font-size: 1.8em;
                    text-align: center;
                    position: absolute;
                    top: 600px;
                    font-weight: bold;
                    color: $blue;
                    opacity: 0;
                }

                &__answer {
                    position: absolute;
                    width: 100%;
                    opacity: 0;

                    &--one {
                        top: 600px;
                    }

                    &--two {
                        top: 140px;
                    }

                    &--three {
                        top: 210px;
                    }

                    &--four {
                        top: 280px;
                    }

                    &--five {
                        top: 350px;
                    }

                }

                &__answer-content {
                    width: 90%;
                    background-color: $blue;
                    border-radius: 27px;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;


                    p {
                        margin-bottom: 0;
                    }

                    p:nth-child(1) {
                        font-size: 1.2em;
                        color: $blue;
                        background-color: white;
                        font-size: 3em;
                        font-weight: bold;
                        border-radius: 100%;
                        border: 1px solid $blue;
                        width: 53px;
                        height: 53px;
                        text-align: center;

                    }

                    p:nth-child(2) {
                        font-size: 1.2em;
                        color: white;
                        text-align: center;
                        flex-grow: 0.7;

                    }

                }

            }
        }


        footer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            margin: 0 auto;

            img {
                width: 142px;
            }

            & * {
                margin-bottom: 7px;
            }

            p:nth-child(2) {
                color: $green;
                font-size: 1.2em;
                font-weight: bold;
            }

            p:nth-child(3) {
                font-weight: 300;
                background-color: rgba(7, 29, 73, 0.15);
                border-radius: 20px;
                display: inline-block;
                padding: 3px 17px;
                cursor: pointer;
            }

            p:nth-child(4) {
                font-size: 0.7em;
                font-weight: 300;
                color: $grey;
            }
        }

        .last-screen {
            &__more {
                color: $blue;
                font-size: 2em;
                font-weight: bold;
                text-align: center;
                position: absolute;
                top: 210px;
                width: 100%;
                opacity: 0;
            }

            &__button {
                position: absolute;
                color: white;
                text-align: center;
                font-size: 2.2em;
                font-weight: bold;
                text-decoration: none;
                background-color: $blue;
                width: 183px;
                height: 37px;
                left: 59px;
                border-radius: 27px;
                box-shadow: 0 3px 2px rgba(0, 0, 0, 0.10);
                opacity: 0;
                z-index: 1;
            }

        }

        aside {
            transition: all 200ms ease-out;

            .references {
                z-index: -2;
            }

            .references__bcg {
                height: 600px;
                width: 300px;
                background-color: rgba(7, 29, 73, 0.95);
                position: absolute;
                top: 0;
                opacity: 0;
                transition: all 200ms ease-out;
            }

            .references__popup {
                width: 268px;
                height: 232px;
                background-color: #FFF;
                border-radius: 10px;
                position: absolute;
                top: 120px;
                left: 16px;
                color: $blue;
                opacity: 0;
                transition: all 200ms ease-out;

                &--close {
                    height: 17px;
                    width: 17px;
                    background-color: $blue;
                    border-radius: 100%;
                    margin: 10px 10px 0 auto;
                    color: white;
                    text-align: center;
                    cursor: pointer;
                }


                p:nth-child(2) {
                    font-size: 1.6em;
                    font-weight: bold;
                    text-align: center;
                }

                p:nth-child(3) {
                    font-size: 1.4em;
                    margin: 40px 25px 0;
                }
            }


        }

    }
}