//color
$green:#1AC9A8;
$grey: #707070;
$blue: #0D224D;

html {

    p,
    div,
    footer,
    main {
        margin-top: 0;
    }

    h1{
        margin: 0;
        color: $blue;
    }

    a{
        text-decoration: none;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    #frame-white {
        z-index: 1000;
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: 500ms;
        pointer-events: none;
    }

    #body {
        border: 1px solid lightgrey;
        height: 600px;
        width: 300px;
        position: relative;
        font-family: "neue-haas-unica",
            sans-serif;
        font-size: 62.5%;
        margin: 0;


        .img-background {
            position: relative;
            z-index: -1;

            & * {
                position: absolute;
            }

            img:nth-child(1) {
                top: 106px;
                left: 205px;
            }

            img:nth-child(2) {
                top: 267px;
                left: -40px;
            }

        }


        main {
            .main {
                &__question {
                    text-align: center;
                    font-weight: bold;
                    font-size: 2em;
                    line-height: 1.2;
                    padding: 16px 14px 5px 14px;
                    position: absolute;
                    top: 600;
                    opacity: 0;
                }

                &__presentation {
                    text-align: center;
                    opacity: 0;
                    position: relative;
                    top: 138px;

                    &--person {

                        p {
                            font-size: 1.7em;
                            font-weight: bold;
                            margin: 10px 0 0 0;
                        }

                        ul {
                            text-align: left;
                            font-size: 1.5em;
                            width: 167px;
                            padding: 0;
                            margin: 0 auto;

                            li:last-child {
                                line-height: 1em;
                            }
                        }

                    }

                    .person-two,
                    .person-three,
                    .person-four {
                        position: absolute;
                        top: 0;
                        left: 320px;
                        opacity: 0;
                    }

                    &--discover {
                        background-color: $blue;
                        color: white;
                        cursor: pointer;
                        font-size: 1.8em;
                        font-weight: bold;
                        border-radius: 27px;
                        padding: 5px 20px;
                        display: inline-block;
                        position: absolute;
                        top: 328px;
                        left: 56px;
                        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.10);
                    }
                }

            }
        }

    }

    .last-screen {

        &__more {
            font-size: 1.7em;
            font-weight: bold;
            color: $blue;
            text-align: center;
            position: absolute;
            top: 300px;
            opacity: 0;
            margin: 0 25px;

        }

        &__button {
            background-color: $blue;
            color: white;
            cursor: pointer;
            font-size: 1.8em;
            font-weight: bold;
            border-radius: 27px;
            display: inline-block;
            position: absolute;
            padding: 5px 48px;
            top: 465px;
            opacity: 0;
            left: 56px;
            text-decoration: none;
            text-align: center;
            vertical-align: middle;
            box-shadow: 0 3px 2px rgba(0, 0, 0, 0.10);
        }
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0 auto;

        img {
            width: 142px;
        }

        & * {
            margin-bottom: 7px;
        }

        p:nth-child(2) {
            color: $green;
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 12px;
        }


        p:nth-child(3) {
            font-size: 0.7em;
            font-weight: 300;
            color: $grey;
        }
    }

}