html p,
html div,
html footer,
html main {
  margin-top: 0;
}

html h1 {
  margin: 0;
  color: #0D224D;
}

html a {
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

body #frame-white {
  z-index: 1000;
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: 500ms;
  transition: 500ms;
  pointer-events: none;
}

body #body {
  border: 1px solid lightgrey;
  height: 600px;
  width: 300px;
  position: relative;
  font-family: "neue-haas-unica", sans-serif;
  font-size: 62.5%;
  margin: 0;
}

body #body .img-background {
  position: relative;
  z-index: 1;
}

body #body .img-background * {
  position: absolute;
}

body #body .img-background img:nth-child(1) {
  top: 106px;
  left: 205px;
}

body #body .img-background img:nth-child(2) {
  top: 267px;
  left: -40px;
}

body #body main .main__question {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.2;
  padding: 16px 14px 5px 14px;
  position: absolute;
  top: 600;
  opacity: 0;
}

body #body main .main__presentation {
  text-align: center;
  opacity: 0;
  position: relative;
  top: 138px;
}

body #body main .main__presentation--person p {
  font-size: 1.7em;
  font-weight: bold;
  margin: 10px 0 0 0;
}

body #body main .main__presentation--person ul {
  text-align: left;
  font-size: 1.5em;
  width: 167px;
  padding: 0;
  margin: 0 auto;
}

body #body main .main__presentation--person ul li:last-child {
  line-height: 1em;
}

body #body main .main__presentation .person-two,
body #body main .main__presentation .person-three,
body #body main .main__presentation .person-four {
  position: absolute;
  top: 0;
  left: 320px;
  opacity: 0;
}

body #body main .main__presentation--discover {
  background-color: #0D224D;
  color: white;
  cursor: pointer;
  font-size: 1.8em;
  font-weight: bold;
  border-radius: 27px;
  padding: 5px 20px;
  display: inline-block;
  position: absolute;
  top: 328px;
  left: 56px;
  -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}

body .last-screen__more {
  font-size: 1.7em;
  font-weight: bold;
  color: #0D224D;
  text-align: center;
  position: absolute;
  top: 300px;
  opacity: 0;
  margin: 0 25px;
}

body .last-screen__button {
  background-color: #0D224D;
  color: white;
  cursor: pointer;
  font-size: 1.8em;
  font-weight: bold;
  border-radius: 27px;
  display: inline-block;
  position: absolute;
  padding: 5px 48px;
  top: 465px;
  opacity: 0;
  left: 56px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}

body footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

body footer img {
  width: 142px;
}

body footer * {
  margin-bottom: 7px;
}

body footer p:nth-child(2) {
  color: #1AC9A8;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 12px;
}

body footer p:nth-child(3) {
  font-size: 0.7em;
  font-weight: 300;
  color: #707070;
}
/*# sourceMappingURL=main.css.map */